---
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import ImageLogo from "@assets/logos/home-logo.webp";
---

<script>
  import { navigate } from "astro:transitions/client";
  // Navigate to the selected option automatically.
  (document.querySelector("#btnYes") as HTMLAnchorElement).onclick = (
    ev: any
  ) => {
    let href = "./form";
    navigate(href);
  };
</script>
<Layout title="OWINE - Home">
  <main>
    <div
      class="relative w-full bg-[url(./assets/home-bg.webp)] bg-no-repeat bg-cover bg-center flex items-center py-20 md:py-[74px] flex-col px-6"
    >
      <Image
        class="size-60"
        src={ImageLogo}
        alt="Image of a wine bottle and a glass with the text 'OWINE' on it."
      />
      <h1
        class="text-white font-cheddar text-[34px] mt-10 text-center text-pretty"
      >
        You have to be of legal drinking age
      </h1>
      <h2 class="text-white font-cheddar text-[60px] md:text-[115px]">
        Are you?
      </h2>

      <div class="flex gap-10 justify-center items-center mb-10 md:mb-16">
        <div
          class="bg-[url('./assets/bg-border.jpeg')] rounded-2xl py-4 px-3 w-full"
        >
          <a
            id="btnYes"
            href={`${import.meta.env.BASE_URL}/form`}
            class="font-cheddar text-white text-5xl bg-black rounded-2xl px-10 duration-300 transition-colors hover:text-[#edd78b]"
            >Yes</a
          >
        </div>
        <div
          class="bg-[url(./assets/bg-border.jpeg)] rounded-2xl py-4 px-3 w-full"
        >
          <a
            href="/form"
            class="font-cheddar text-white text-5xl bg-black rounded-2xl px-10 duration-300 transition-colors hover:text-[#edd78b]"
            >No</a
          >
        </div>
      </div>
    </div>
    <Footer />
  </main>
</Layout>
