---
import { Image } from "astro:assets";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";

import HomeLogo from "@assets/logos/home-logo.png";
---

<Layout title="OWINE - Home">
  <main>
    <section
      class="relative w-full h-screen bg-[url(assets/home-bg.webp)] bg-no-repeat bg-cover bg-center flex items-center pt-10 md:pt-[94px] flex-col px-6"
    >
      <Image
        class="size-60"
        src={HomeLogo}
        alt="Image of a wine bottle and a glass with the text 'OWINE' on it."
      />
      <h1
        class="text-white font-cheddar text-[34px] mt-10 text-center text-pretty"
      >
        You have to be of legal drinking age
      </h1>
      <h2 class="text-white font-cheddar text-[60px] md:text-[115px]">
        Are you?
      </h2>

      <div class="flex gap-10 mt-10">
        <a href="/form" class="font-cheddar text-white text-5xl">Yes</a>
        <button class="font-cheddar text-white text-5xl">No</button>
      </div>
    </section>
    <Footer position="absolute" />
  </main>
</Layout>
