<div
  class="bg-[url(assets/bg-border.jpeg)] rounded-2xl w-full max-w-[630px] p-2 mt-4"
>
  <form
    action=""
    class="flex flex-col justify-center items-center w-full bg-black px-3 py-4 rounded-2xl"
  >
    <input
      class="w-full rounded-lg mb-2 p-[13px] text-[13px] placeholder-[#C3C3C3] h-[24px] font-normal placeholder:font-normal"
      type="text"
      name="name"
      placeholder="Name"
    />
    <input
      class="w-full rounded-lg mb-2 p-[13px] text-[13px] placeholder-[#C3C3C3] h-[24px]"
      type="text"
      name="lastName"
      placeholder="Last name"
    />
    <input
      class="w-full rounded-lg mb-2 p-[13px] text-[13px] placeholder-[#C3C3C3] h-[24px]"
      type="text"
      name="email"
      placeholder="Email"
    />
    <input
      class="w-full rounded-lg mb-2 p-[13px] text-[13px] placeholder-[#C3C3C3] h-[24px]"
      type="text"
      name="instagram"
      placeholder="Instagram username (Public account)"
    />
    <select
      name=""
      id=""
      class="w-full rounded-lg mb-2 text-[13px] px-[13px] text-[#C3C3C3] appearance-none form-select h-[28px]"
    >
      <option value="0">State</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <textarea
      class="w-full rounded-lg mb-2 p-[13px] text-[13px] placeholder-[#C3C3C3] h-[150px]"
      name="message"
      id="message"
      placeholder="Tell us an amazing story to inspire Ami James"></textarea>
    <div
      class="flex items-center bg-white p-[13px] rounded-lg w-full justify-between"
    >
      <p class="text-[13px] text-[#C3C3C3] max-w-sm">
        You agree that the tatto will be done in the State of Florida during the
        month of xxxx, and the entire process will be recorded and dhared from
        Ö61 Wines* digital platforms
      </p>
      <select
        name=""
        id=""
        class="mb-2 text-[13px] text-[#C3C3C3] border-[#4d4d4d] border form-select appearance-none"
      >
        <option value="0"></option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>
    <div class="flex justify-center items-center">
      <button
        class="g-recaptcha"
        data-sitekey="6LclYdgpAAAAAHhWyCuOnBTOGRb8PDGYauExrQKr"
        data-callback="onSubmit"
        data-action="submit">Submit</button
      >
    </div>
    <div class="flex justify-between w-full">
      <button class="w-[260px] h-[73px] bg-white">Captcha</button>
      <div class="border border-white p-[4px] rounded-2xl">
        <button
          id="btnSubmit"
          class="text-white bg-[url(assets/bg-border.jpeg)] font-cheddar text-[43px] rounded-xl px-10 duration-300 transition-colors hover:text-black"
        >
          Enviar
        </button>
      </div>
    </div>
  </form>
</div>
<script>
  const $formSubmit = document.getElementById("btnSubmit");
  $formSubmit?.addEventListener("click", (e) => {
    e.preventDefault();
    alert("Enviar datos y pasar a la siguiente pantalla exito");
  });
</script>
